.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom:0.1rem solid var(--light-gray-color);
}
  
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
  
.menu h1 {
    font-size: 2rem;
    color: var(--primary-color);
}
  
.menu h1 a {
    color: inherit;
}
  
.menu ul {
    list-style: none;
    display: flex;
}
  
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--primary-color);
    position: relative;
}
  
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: rgba(39, 18, 232, 0.3); 
    transition: all 300ms ease-in-out;
}
  
.menu ul li a:hover::after {
    padding: 0.3rem;
    height: 2rem;
    width: 100%;
    left: 0%;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(39, 18, 232, 0.5)inset ,0.9rem 0.6rem 1rem white inset;
}

.menu-content h1 a:hover {
    color: rgba(37, 29, 113, 0.916);
}